<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <header class="header_mliebre">
        <div class="nav">
            <div class="nav-top">
                <div>
                    <img src="img/logo-mercado-liebre.svg">
                </div>
                <div>
                    <form>
                        <input type="text" placeholder="Buscar productos, marcas">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div>
                    <h3><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
                </div>
    
            </div>
    
            <div class="nav-bot"></div>
        </div>
        
    
    </header>

    
    <main></main>

    <footer></footer>

    <script src="https://kit.fontawesome.com/fc3af5a98a.js" crossorigin="anonymous"></script>
</body>
</html>