*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: #ebebeb;
    margin:auto;
}

/* HEADER */

.main-header{
    background-color: #EAC926;
    padding: 10px;
}

.main-navbar-top{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    padding: 5px;
}

.searchbar{
    position: relative;
    padding: 5px;
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}


.searchbar input{
    position: relative;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    height: 250%;
    flex: 1;
    border: 0;
    outline: none;
    font-size: medium;
}

.searchbar button{
    position: absolute;
    background-color: white;
    font-size: large;
    width: 36px;
    height: 36px;
    border: 0;
    cursor: pointer;
}

.text-payment{
    margin-top: 10px;
    font-size: 90%;
    font-weight: 300;
    text-align: center;
}

.mobile-button{
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 55px;
    padding: 7px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    margin: auto;   
}

.main-navbar-bot{
    display: none;
}

.main-navbar-bot ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar-bot a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 16px;
}

/* IMG BANNER */

.img-home-banner img{
    width: 100%;
}

/* MAIN */

.main-main{
    margin: auto;
    width:90%;
    padding: 20px;
}

.main-main ul{
    list-style: none;
    background-color: white;
}

.titulares{
    margin: 10px 0;
    display: block;
    color: #666;
    font-size: 16px;
    font-weight: 600;
    text-align: left;

}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos ul{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    width: 266px;
    height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos img{
    width: 100%;
    height: 80%;
    border-bottom: solid 1px #ebebeb;
    display: flex;
}

.productos div{
    padding: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productos .precios{
    padding: 5px;
    display: flex;
    color: #666;
    font-size: 18px;
}


.productos .descuentos{
    padding: 5px;
    display: flex;
    color:#39b54a;
    font-size: 16px;
}

.productos i{
    position: relative;
    font-size: 16px;
    border: solid 2px;
    padding: 10px;
    border-radius: 50%;
    left: 30px;
    bottom: 30px;
    color: #39b54a;
    background-color: white;
}

.main-footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}

.main-footer ul{
    padding: 10px;
    text-align: center;
}

.main-footer i{
    font-size: 24px;
    color: #03264C;
}

.main-footer h3{
    margin: 10px 0;
    font-size: medium;
    color: #666;
}

.main-footer p{
    color: #666;
    font-size: 12px;
}

.copyright{
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #666;
    font-size: 12px;
    
}

/* TABLET */

@media (min-width: 768px) {

    /* HEADER */

    .main-navbar-top{
        justify-content: space-between;
        flex-wrap: unset;
        font-weight: 100;
    }

    .logo{
        width: 200px;
    }

    .searchbar{
        width: 50%;
    }

    .text-payment{
        margin:0;
        font-size: 17px;
        width: 250px;
        text-align: right;
    }

    .mobile-button{
        display: none;
    }

    .main-navbar-bot{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-navbar-bot ul{
        display: flex;
        padding: 0 0 10px 10px;
    }

    .main-navbar-bot li{
        margin: 0 5px;
    }

    /* MAIN */

    .titulares{
        font-size: 18px;
    }

    .productos{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .productos ul{
        margin-right: 10px;
        width: 315px;
        height: 380px;
    }
    
    .productos i{
        left: 47px;
        bottom: 37px;
    }

    .main-footer{
        flex-direction: row;
    }



}

@media (min-width: 1200px) {
    
    .main-navbar-top, .main-navbar-bot {
        max-width: 1200px;
        margin: auto;
    }

    .logo{
        width: 25%;
    }

    .searchbar{
        width: 550px;
        padding: 0 10px;
    }

    .text-payment{
        font-size: 18px;
        font-weight: 400;
        width: 400px;
    }

    .main-navbar-bot{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-navbar-bot ul{
        flex-direction: row;
    }

    .main-navbar-bot li{
        margin: 0 10px;
    }

    .main-navbar-bot a{
        font-size: 18px;
    }  

    .productos ul{
        width: 240px;
        height: 290px;
    }

    .productos img{
        width: 100%;
        height: 100%;
    }

    .productos i{
        font-size: 13px;
        padding: 5px;
        left: 15px;
        bottom: 27px;
    }
}